<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.game.jxj">

    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- sd卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity
            android:name=".view.index.IndexActivity"
            android:launchMode="singleTask" />

        <!-- 相册 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.user.activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.home.WelcomeActivity"
            android:theme="@style/AppTransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.MainActivity"
            android:launchMode="singleTask">
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- 配置sharesdk和配置微信回调 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:ignore="WrongManifestParent" />
        <activity android:name=".ui.home.me.activity.WalletActivity" />
        <activity android:name=".ui.home.me.activity.MyVideosActivity" />
        <activity android:name=".ui.home.me.activity.ChallengeActivity" />
        <activity
            android:name=".ui.home.record.activity.VideoRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".ui.home.record.activity.RecordMusicActivity" />
        <activity android:name=".ui.home.me.activity.EditInfoActivity" />
        <activity android:name=".ui.home.me.activity.FollowActivity" />
        <activity android:name=".ui.home.record.activity.RecordMusicTypeActivity" />
        <activity android:name=".ui.home.record.activity.TCVideoEditerActivity" />
        <activity android:name=".ui.home.record.activity.TCVideoPreprocessActivity" />
        <activity android:name=".ui.home.me.activity.FansActivity" />
        <activity android:name=".ui.home.me.activity.AuthenticationActivity" />
        <activity android:name=".ui.home.me.activity.FeedbackActivity" />
        <activity android:name=".ui.home.business.activity.BusinessActivity" />
        <activity android:name=".ui.home.business.activity.BusinessActivityDetailsActivity" />
        <activity android:name=".ui.home.me.activity.CopperationActivity"></activity>
        <activity android:name=".ui.home.me.activity.PreviewActivity"></activity>
        <activity android:name=".ui.home.me.activity.ChallengeCreatActivity"></activity>
    </application>

</manifest>